*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: FFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.account-body {
  display: flex;
  justify-content: left;
  min-height: 100vh;
  background-color: #FFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wrapper{
  width: 420px;
  background: transparent;
  border: 2px solid #2894f4;
  backdrop-filter: blur(9px);
  color: #000;
  border-radius: 12px;
  padding: 30px 40px;
}
.wrapper h1{
  font-size: 36px;
  text-align: center;
}
.wrapper p{
  margin-top: 10px;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #2894f4;
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: #000;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}
.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input{
  accent-color: #000;
  margin-right: 3px;

}
.remember-forgot a{
  color: #000;
  text-decoration: none;

}
.remember-forgot a:hover{
  text-decoration: underline;
}
.wrapper .btn{
  width: 100%;
  height: 45px;
  background: #2894f4;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #FFF;
  font-weight: 600;
  transition: all 0.3s ease;
}

.wrapper .btn:hover {
  transform: translateY(-2px);
  background-color: #54aefd;
}

.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;

}
.register-link p a{
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover{
  text-decoration: underline;
}

/* account.php */

main .account-section {
  background-color: #FFF;
  min-height: 100vh;
  display: block;
  background-position: center;
  background-size: cover;
  text-align: left;
}

.container_account {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding-top: 130px;
  padding-left: 100px;
  padding-right: 100px;
  display: block;

}

.input-box-account {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box-account input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid #2894f4;
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  padding: 20px 45px 20px 20px;
}

.input-box-account {
  margin-left: 15px;
  margin-right: 15px;
}

.btn-submit {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #2894f4;
  outline: none;
  border: 2px solid #2894f4;
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  padding: 13px 20px 13px 20px;
  margin-top: 30px;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  transform: translateY(-2px);
  background: #54aefd;
}

.account-form {
  display: flex;
  justify-content: left;
}

.account-section h4 {
  font-size: 30px;
  margin-bottom: 32px;
  color: #000;
  font-weight: bold;
  text-align: left;
}

.api-form {
  display: flex;
  align-items: center;
}

.api-list p {
  margin-bottom: 32px;
}

.api-list {
  color: #000;
  margin-top: 30px;
  text-decoration: none;
}

.api-btn-submit {
  width: 50%;
  height: 100%;
  cursor: pointer;
  background: #2894f4;
  outline: none;
  border: 2px solid #2894f4;
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  padding: 13px 20px 13px 20px;
  transition: all 0.3s ease;
}

.api-btn-submit:hover {
  transform: translateY(-2px);
  background: #54aefd;
}

i.bx.bxs-copy, i.bx.bxs-check-circle, i.bx.bxs-error {
  margin-left: 15px;
  text-decoration: none;
  color: #000;
  font-size: 30px; /* Gleiche Größe wie der Copy-Button */
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover-Effekt für den Copy-Button */
i.bx.bxs-copy:hover {
  transform: translateY(-2px);
  color: #2894f4;
}

/* Erfolgs-Icon Design */
i.bx.bxs-check-circle.copied {
  color: green;  /* Erfolgsfarbe */
  transform: scale(1.2);  /* Leichte Vergrößerung */
}

/* Fehler-Icon Design */
i.bx.bxs-error.error {
  color: red;  /* Fehlerfarbe */
  transform: scale(1.2);  /* Leichte Vergrößerung */
}

/* Sanfter Übergang für Icons (Wechsel zwischen Copy, Check und Error) */
i.bx.bxs-copy.copied, i.bx.bxs-check-circle, i.bx.bxs-error {
  transition: all 0.3s ease;
}

i.bx.bxs-trash {
  font-size: 35px;
  text-decoration: none;
  color: #000;
  margin-left: 15px;
  transition: all 0.3s ease;
}

i.bx.bxs-trash:hover {
  transform: translateY(-2px);
  color: #f00;
}

i.bx.bxs-edit-alt {
  font-size: 35px;
  text-decoration: none;
  color: #000;
  margin-left: 15px;
  transition: all 0.3s ease;
}

i.bx.bxs-edit-alt:hover {
  transform: translateY(-2px);
}

i.bx.bx-arrow-back {
  cursor: pointer;
  font-size: 35px;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}

i.bx.bx-arrow-back:hover {
  transform: translateY(-2px);
}

.advanced-settings p {
  color: #000;
}

.server-rank {
  margin-bottom: 32px;
}

h5 {
  color: #f00;
  font-size: 25px;
  margin-bottom: 25px;
}

.delete-account-form {
  display: flex;
  align-items: center;
}

.delete-account-btn {
  width: 50%;
  height: 100%;
  cursor: pointer;
  background: #FFF;
  outline: none;
  border: 2px solid #f00;
  border-radius: 40px;
  font-size: 16px;
  color: #f00;
  padding: 13px 20px 13px 20px;
  transition: all 0.3s ease;
}

.delete-account-btn:hover {
  background: #f00;
  color: #000;
  transform: translateY(-2px);
}

.all-accounts {
  text-decoration: none;
  width: 50%;
  height: 100%;
  cursor: pointer;
  background: #2894f4;
  outline: none;
  border: 2px solid #2894f4;
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  padding: 13px 20px 13px 20px;
  transition: all 0.3s ease;
}

.all-accounts:hover {
  transform: translateY(-2px);
  background: #54aefd;
}

main .accounts-list-section {
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #FFF;
  min-height: 100vh;
  display: block;
  background-position: center;
  background-size: cover;
  text-align: left;
}

/* Tabelle Styling */
table {
  width: 100%; /* Die Tabelle nimmt die gesamte Breite ein */
  border-collapse: collapse; /* Entfernt Abstände zwischen Zellen */
  margin: 20px 0; /* Abstand oben und unten */
  background-color: transparent; /* Hintergrundfarbe der Tabelle */
}

th, td {
  padding: 12px 15px; /* Polsterung innerhalb der Zellen */
  text-align: left; /* Textausrichtung in Zellen */
  border-bottom: 1px solid #000; /* Untere Grenze für jede Zeile */
  color: #000;
}

.pen-a {
  text-decoration: none;
}

th {
  background-color: #000; /* Hintergrundfarbe für die Kopfzeile */
  color: white; /* Schriftfarbe in der Kopfzeile */
  font-weight: bold; /* Fettdruck für die Kopfzeile */
}

tr:nth-child(even) {
  background-color: #54aefd; /* Abwechselnde Zeilenfarben */
}


/* Optional: Stil für Tabellen-Wrapper */
.table-container {
  max-width: 1000px; /* Maximale Breite für die Tabelle */
  margin: 0 auto; /* Zentriert die Tabelle */
  overflow-x: auto; /* Ermöglicht horizontales Scrollen, wenn die Tabelle zu breit ist */
}
