* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
  }
  
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
      color: inherit;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 900;

      span {
        font-weight: 600;
      }
    }

    nav {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(6, auto);

      @media (max-width: 767px) {
        display: none;
      }

      a {
        color: inherit;
        font-size: 20px;
        text-decoration: none;
      }
    }
  
  @media (max-width: 1024px) {
    padding-left: 64px;
    padding-right: 64px;
  }

  @media (max-width: 767px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

&.is-scrolling {
  background-color: #eeeeee;
  .container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

main {
  section.banner {
    color: #000;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-position: top right;
    background-size: cover;
  
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      opacity: 0.8;
    }
  
    .container {
      position: relative;
      z-index: 1;
  
      h1 {
        font-size: 72px;
        margin-bottom: 32px;
        
        span {
          color: #2894f4;
        }

        @media (max-width: 767px) {
          font-size: 32px;
        }
      }

      .subtitle {
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 32px;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
    .hide-mob {
      display: none;
    }
  }

.transparancy{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.link-no-decoration {
  text-decoration: none;
  color: #000;
}
.login_button {
  text-decoration: none;      /* Entfernt die Unterstreichung von Links */
  color: inherit;             /* Erbt die Textfarbe */
  background-color: #2894f4; /* Lila */
  padding: 10px 18px;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login_button:hover {
  background-color: #54aefd; /* Helleres Lila beim Hover */
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


  
@media (max-width: 1024px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.hamburger {
  color: #000;
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #000;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  padding-top: 120px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
  
.mobile-nav.is-active {
  left: 0;
}
  
.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  color: #000;
  text-decoration: none;
  border: 1px;
  border-color: #2894f4;
  border-radius: 20px;
  background: linear-gradient(135deg, #2895f46c, #54aefd6c);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
  
.mobile-nav a:hover {
  background-color: #5555554b;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  color: #000;
  font-size: 20px;
  background-color: #FF9FDB;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

  @media (max-width: 767px) {
  .button {
    font-size: 18px;
  }
}
  
img {
  max-width: 100%;
}

header {
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

header .container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.3s ease;
}
  
header .container h2 {
  color: inherit;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 900;
}
    
header .container h2 span {
  font-weight: 600;
}
    
header .container nav {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  -ms-grid-columns: auto 6;
  grid-template-columns: repeat(6, auto);
}
    
@media (max-width: 767px) {
  header .container nav {
    display: none;
  }
}
    
header .container nav a {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
}
 
.hover-underline-animation {
  position: relative; /* Wichtig: Damit das ::after Pseudoelement relativ zu den Links positioniert wird */
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2894f4;
  transition: transform 0.25s ease-out;
}
    
.hover-underline-animation:hover::after {
  transform: scaleX(1);
}
    
.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

header.is-scrolling .container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logged-out {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding-top: 250px;
  padding-left: 100px;
  padding-right: 100px;
  color: #000;
  position: relative;
  display: flex;
  min-height: 50%;
  background-position: center;
  background-size: cover;
}

.greeting {
  font-size: 45px;
  display: block;
}

.sub-text {
  margin-right: 100px;
}

.greeting .sub-text p {
  font-size: 25px;
}

.greeting span {
  color: #2894f4;
  font-weight: bold;
}

.register {
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 15px;
  background-color: #2894f4;
  border-radius: 12px;
  color: #fff;
}

.other-content {
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  color: #000;
}

.other-content p {
  font-size: 20px;
}

.mobile-app {
  display: block;
  align-items: center;
  margin-top: 100px;
}

.github-link {
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 15px;
  background-image: url(../../Logo/Github-BG.png);
  border-radius: 12px;
  width: 230px;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.github-logo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.mobile-app p {
  margin-top: 15px;
}

.mobile-app .release-link {
  text-decoration: none;
  color: #54aefd;
}

.mobile-app .release-link:hover {
  color: #2894f4;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

.github-link-footer {
  text-decoration: none;
  color: #2894f4;
}

.github-link-footer:hover {
  color: #54aefd;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .logged-out {
    padding-top: 120px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .other-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.logged-in {
  padding-top: 130px;
  padding-left: 100px;
  padding-right: 100px;
}

.recent-files {
  margin-top: 25px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.file-list {
  background-color: #FFF;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  align-items: center;
}

.file-item {
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #2894f4;
  align-items: center;
  color: #000;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; /* Fügt Abstand zwischen den Einträgen hinzu */
  user-select: none; /* Verhindert Textauswahl */
  -webkit-user-select: none; /* Für Safari */
  transition: all 0.2s ease;
}

.file-item:hover {
  cursor: not-allowed;
  transform: translateY(-1px);
}

.file-info {
  float: right;
  color: #666;
}

.desktop-only {
  display: none;
}

@media (max-width: 768px) {
  .desktop-only {
    display: block;
  }

  .file-info {
    float: none;
  }
}

.select-all-cb {
  user-select: none; /* Verhindert Textauswahl */
  -webkit-user-select: none; /* Für Safari */
  cursor: pointer; /* Optional: zeigt an, dass man klicken kann */
  font-weight: bold;
}

@media (max-width: 767px) {
  .logged-in {
    padding-top: 120px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

#update-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#update-popup .popup-content {
  background: white;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  overflow: hidden; /* Damit die obere Leiste sauber abschließt */
}

#update-popup .popup-header {
  background-color: #FFD700; /* Gelb */
  height: 75px;
  color: #000;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#update-popup .popup-header .icon {
  margin-right: 10px;
}

#update-popup .popup-body {
  padding: 20px;
  font-size: 16px;
  color: #333;
}

#update-popup .popup-footer {
  padding: 10px;
  text-align: center;
}

#update-popup .popup-footer button {
  background-color: #2894f4; /* Gelb */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#update-popup .popup-footer button:hover {
  background-color: #54aefd; /* Etwas dunkleres Gelb für Hover */
  transform: translateY(-1px);
}

#update-popup .popup-content .popup-header i .bx .bx-error {
  color: #000;
}

#update-popup .popup-footer a {
  text-decoration: none;
  color: #2894f4;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}