* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
  }
  
.container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding-left: 128px;
    padding-right: 128px;
  }

  .transparancy{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .link-no-decoration {
    text-decoration: none;
    color: #FFF;
  }

  .login_button {
    background-color: #8e44ad; /* Lila */
    padding: 10px 18px;
    border-radius: 12px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.login_button a {
  text-decoration: none;      /* Entfernt die Unterstreichung von Links */
  color: inherit;             /* Erbt die Textfarbe */
}

.login_button:hover {
  background-color: #9b59b6; /* Helleres Lila beim Hover */
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


  
  @media (max-width: 1024px) {
    .container {
      padding-left: 64px;
      padding-right: 64px;
    }
  }
  
  @media (max-width: 767px) {
    .container {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
  }
  
  .hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  
  .hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
  }
  
  .hamburger.is-active .bar {
    opacity: 0;
  }
  
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    padding-top: 120px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .mobile-nav.is-active {
    left: 0;
  }
  
  .mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #1f103F;
    color: #FFF;
    text-decoration: none;
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .mobile-nav a:hover {
    background-color: #24104f;
  }
  
  @media (min-width: 768px) {
    .mobile-nav {
      display: none;
    }
  
    .hamburger {
      display: none;
    }
  }
  
  section h2 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: #313131;
    font-size: 36px;
  }
  
  .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    background-color: #FF9FDB;
    padding: 12px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
    .button {
      font-size: 18px;
    }
  }
  
  img {
    max-width: 100%;
  }
  
  header {
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  
  header .container {
    padding-top: 32px;
    padding-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  header .container h2 {
    color: inherit;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;
  }
  
  header .container h2 span {
    font-weight: 600;
  }
  
  header .container nav {
    display: -ms-grid;
    display: grid;
    grid-gap: 16px;
    -ms-grid-columns: auto 6;
    grid-template-columns: repeat(6, auto);
  }
  
  @media (max-width: 767px) {
    header .container nav {
      display: none;
    }
  }
  
  header .container nav a {
    color: inherit;
    font-size: 20px;
    text-decoration: none;
  }
  
  header.is-scrolling {
    background-color: #12002F;
  }
  
  header.is-scrolling .container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  main section.banner {
    color: #FFF;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("../images/header.png");
    background-position: center;
    background-size: cover;
  }
  
  main section.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #12002F;
    opacity: 0.8;
  }
  
  main section.banner .container {
    position: relative;
    z-index: 1;
  }
  
  main section.banner .container h1 {
    font-size: 72px;
    margin-bottom: 32px;
  }
  
  main section.banner .container h1 span {
    color: #FF9FDB;
  }
  
  @media (max-width: 767px) {
    main section.banner .container h1 {
      font-size: 32px;
    }
  }
  
  main section.banner .container .subtitle {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 32px;
  }
  
  @media (max-width: 767px) {
    main section.banner .container .subtitle {
      font-size: 20px;
    }
  }
  
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;
  
    @media (max-width: 1024px) {
      padding-left: 64px;
      padding-right: 64px;
    }
  
    @media (max-width: 767px) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    
    appearance: none;
    background: none;
    outline: none;
    border: none;
  }
  
  .hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0px;
    transition: 0.4s;
  }
  
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
  }
  
  .hamburger.is-active .bar {
    opacity: 0;
  }
  
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    padding-top: 120px;
    transition: 0.4s;
  }
  
  .mobile-nav.is-active {
    left: 0;
  }
  
  .mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    /* background-color: #1f103F; */
  
    color: #FFF;
    text-decoration: none;
  }
  
  .mobile-nav a:hover {
    background-color: #24104f;
  }
  
  @media (min-width: 768px) {
    .mobile-nav {
      display: none;
    }
  
    .hamburger {
      display: none;
    }
  }
  
  section {
    h2 {
      text-align: center;
      margin-bottom: 32px;
      text-transform: uppercase;
  
      color: #313131;
      font-size: 36px;
    }
  }
  
  .button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
  
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    background-color: #FF9FDB;
    padding: 12px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  
  img {
    max-width: 100%;
  }
  
  header {
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    /* background-color: #12002F; */
  }
    .container {
      padding-top: 32px;
      padding-bottom: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      h2 {
        color: inherit;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 900;
  
        span {
          font-weight: 600;
        }
      }
  
      nav {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(6, auto);
  
        @media (max-width: 767px) {
          display: none;
        }
  
        a {
          color: inherit;
          font-size: 20px;
          text-decoration: none;
        }
      }
    }
  
    &.is-scrolling {
      background-color: #12002F;
      .container {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  
  main {
    section.banner {
      color: #FFF;
      position: relative;
      min-height: 100vh;
      display: flex;
      align-items: center;
  
      background-image: url('../images/header.png');
      background-position: top right;
      background-size: cover;
  
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: #12002F;
        opacity: 0.8;
      }
  
      .container {
        position: relative;
        z-index: 1;
  
        h1 {
          font-size: 72px;
          margin-bottom: 32px;
          
          span {
            color: #FF9FDB;
          }
  
          @media (max-width: 767px) {
            font-size: 32px;
          }
        }
  
        .subtitle {
          font-size: 35px;
          font-weight: 400;
          margin-bottom: 32px;
  
          @media (max-width: 767px) {
            font-size: 20px;
          }
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    .hide-mob {
      display: none;
    }
  }

/* Datei-Upload Seite */
main section.upload-section {
  background-color: #12002F;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.container-upload-section {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding-top: 130px;
  padding-left: 100px;
  padding-right: 100px;
}

.upload-form {
  display: block;
}

.upload-form h5 {
    font-size: 48px;
    margin-bottom: 32px;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.upload-form form {
    margin-top: 20px;
}

/* Datei-Upload Button */
.upload-form button {
    background-color: #8e44ad; /* Lila */
    margin-top: 15px;
    margin-left: 15px;
    padding: 14px 22px;
    border-radius: 12px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hover-Effekt für den Button */
.upload-form button:hover {
    background-color: #9b59b6; /* Helleres Lila beim Hover */
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Datei-Upload Input */
.upload-form input[type="file"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #12002F;
    border: 2px solid #8e44ad; /* Lila Rand */
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    width: 340px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-form input[type="file"]:hover {
    border-color: #9b59b6; /* Helleres Lila beim Hover */
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.upload-form input[type="file"]::file-selector-button {
  background-color: #8e44ad; /* Lila */
  padding: 14px 22px;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hover-Effekt für den Button */
.upload-form input[type="file"]::file-selector-button:hover {
  background-color: #9b59b6; /* Helleres Lila beim Hover */
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Upload Status */
#uploadStatus {
    margin-top: 35px;
    color: #fff;
    font-size: 18px;
}

.progress-container {
  width: 100%; 
  background-color: #1d004b; 
  border-radius: 5px; 
  margin-top: 20px;
  border: 2px solid #8e44ad
}

.progress-bar {
  height: 20px; 
  width: 0; 
  background-color: #8e44ad; 
  text-align: center; 
  color: white; 
  line-height: 20px;
}

.upload-speed {
  margin-top: 10px;
  color: #FFF;
}

/* Datei-Übersichtsseite */
main section.file-list-section {
  background-color: #12002F;
  min-height: 100vh;
  display: block;
  background-position: center;
  background-size: cover;
}

.container_file-list {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding-top: 130px;
  padding-left: 100px;
  padding-right: 100px;
}

/* Überschrift */
.file-list-section h4 {
  font-size: 48px;
  margin-bottom: 32px;
  color: #fff;
  font-weight: bold;
  text-align: left;
}

/* Dateiliste */
.file-list {
  background-color: #12002F;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  align-items: center;
}

.file-item {
  background-color: #1d004b;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #8e44ad;
  align-items: center;
  color: #FFF;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; /* Fügt Abstand zwischen den Einträgen hinzu */
}

/* Links für Download & Löschen */
.file-item a {
  color: #8e44ad;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.file-item a:hover {
  color: #9b59b6;
  transform: translateY(-2px);
}

/* Button-Stile für Löschen */
.delete-button {
  background-color: #8e44ad;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-button:hover {
  background-color: #9b59b6;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
